<div>
    <div class="header">
        <div class="breadcrumbs text-sm">
            <ul>
                <li>{{localize .Ctx "Home"}}</li>
                <li>{{localize .Ctx .Title}}</li>
            </ul>
        </div>
        <a href="/server-info" class="btn btn-secondary">
            {{localize .Ctx "EditServerInfo"}}
        </a>
    </div>

    <div class="card mb-6">
        <div class="card-body">
            <h2 class="card-title">{{localize .Ctx "ServerInformation"}}</h2>
            <table class="table mt-4">
                <tbody>
                <tr>
                    <td class="font-medium">{{localize .Ctx "ServerName"}}</td>
                    <td>{{.ServerInfo.Name}}</td>
                </tr>
                <tr>
                    <td class="font-medium">{{localize .Ctx "ServerDescription"}}</td>
                    <td>{{.ServerInfo.Description}}</td>
                </tr>
                <tr>
                    <td class="font-medium">{{localize .Ctx "WebsiteURL"}}</td>
                    <td>{{.ServerInfo.WebsiteURL}}</td>
                </tr>
                <tr>
                    <td class="font-medium">{{localize .Ctx "LogoImageURL"}}</td>
                    <td>{{.ServerInfo.LogoImageURL}}</td>
                </tr>
                <tr>
                    <td class="font-medium">{{localize .Ctx "BackgroundImageURL"}}</td>
                    <td>{{.ServerInfo.BackgroundImageURL}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card overflow-x-auto">
        <table class="table">
            <thead>
            <tr>
                <th>{{localize .Ctx "Service"}}</th>
                <th>{{localize .Ctx "Status"}}</th>
            </tr>
            </thead>
            <tbody>
            {{range .Configs}}
                <tr>
                    <td>{{.Name}}</td>
                    <td>
                        {{.Status}}
                    </td>
                </tr>
            {{else}}
                <tr>
                    <td colspan="2" class="text-center">
                        {{localize .Ctx "NoConfigData"}}
                    </td>
                </tr>
            {{end}}
            </tbody>
        </table>
    </div>
</div>
