<div class="container min-h-[70vh] flex flex-col justify-center items-center">
    <div class="card max-w-md w-full">
        <div class="content text-center">
            <h1 class="title mb-4">{{if eq .ErrorType "not_found"}}{{localize .Ctx "PageNotFound"}}{{else}}{{localize .Ctx "TokenExpired"}}{{end}}</h1>
            <p class="description mb-8">{{if eq .ErrorType "not_found"}}{{localize .Ctx "PageNotFoundMessage"}}{{else}}{{localize .Ctx "TokenExpiredMessage"}}{{end}}</p>
            
            <div class="flex justify-center space-x-4">
                {{if eq .ErrorType "token_expired"}}
                <a href="/login" class="btn-primary">
                    {{localize .Ctx "Login"}}
                </a>
                {{end}}
                
                <a href="/" class="btn-secondary">
                    {{localize .Ctx "BackToHome"}}
                </a>
            </div>
        </div>
    </div>
</div>
