<div class="container min-h-[70vh] flex flex-col justify-center items-center">
    <div class="card max-w-md w-full">
        <div class="card-body">
            <h1 class="card-title">{{if eq .ErrorType "not_found"}}{{localize .Ctx "PageNotFound"}}{{else}}{{localize .Ctx "TokenExpired"}}{{end}}</h1>
            <p>{{if eq .ErrorType "not_found"}}{{localize .Ctx "PageNotFoundMessage"}}{{else}}{{localize .Ctx "TokenExpiredMessage"}}{{end}}</p>
            
            <div class="card-actions">
                {{if eq .ErrorType "token_expired"}}
                <a href="/login" class="btn btn-primary">
                    {{localize .Ctx "Login"}}
                </a>
                {{end}}
                
                <a href="/" class="btn btn-secondary">
                    {{localize .Ctx "BackToHome"}}
                </a>
            </div>
        </div>
    </div>
</div>
