<div class="container">
    <div class="header">
        <h1 class="title">{{localize .Ctx "StoreAppBinaryTitle"}}</h1>
    </div>

    <div class="table-wrapper">
        <table class="table">
            <thead class="thead">
                <tr>
                    <th class="th">{{localize .Ctx "ID_"}}</th>
                    <th class="th">{{localize .Ctx "StoreAppBinaryName"}}</th>
                    <th class="th">{{localize .Ctx "StoreAppBinaryVersion"}}</th>
                    <th class="th">{{localize .Ctx "StoreAppBinaryDeveloper"}}</th>
                    <th class="th">{{localize .Ctx "StoreAppBinaryPublisher"}}</th>
                    <th class="th">{{localize .Ctx "StoreAppBinarySize"}}</th>
                </tr>
            </thead>
            <tbody>
                {{range .StoreAppBinaries}}
                <tr class="tr">
                    <td class="td">{{.ID}}</td>
                    <td class="td">{{.Name}}</td>
                    <td class="td">{{.Version}}</td>
                    <td class="td">{{.Developer}}</td>
                    <td class="td">{{.Publisher}}</td>
                    <td class="td">{{.SizeBytes}}</td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="6" class="td text-center">
                        {{localize .Ctx "NoStoreAppBinaryData"}}
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>

    <!-- Pagination Control -->
    {{if .Pagination}}
        {{template "pagination" .}}
    {{end}}
</div>

<script>
// ... existing code ...
</script>