{{define "pagination"}}
<div class="card mt-6">
    <div class ="card-body">
        <div class="flex justify-between items-center">
            <div class="text-sm text-slate-700 dark:text-slate-300">
                {{localize .Ctx "PaginationText" "CurrentPage" .Pagination.CurrentPage "TotalPages" .Pagination.TotalPages}}
            </div>
            <div class="flex space-x-2">
                {{if .Pagination.HasPrev}}
                <a href="?page={{.Pagination.PrevPage}}" class="btn btn-soft btn-secondary">
                    {{localize .Ctx "Previous"}}
                </a>
                {{else}}
                <button disabled class="btn btn-soft btn-disabled">
                    {{localize .Ctx "Previous"}}
                </button>
                {{end}}

                {{if .Pagination.HasNext}}
                <a href="?page={{.Pagination.NextPage}}" class="btn btn-soft btn-secondary">
                    {{localize .Ctx "Next"}}
                </a>
                {{else}}
                <button disabled class="btn btn-soft btn-disabled">
                    {{localize .Ctx "Next"}}
                </button>
                {{end}}
            </div>
        </div>
    </div>
</div>
{{end}} 