name: Test and coverage

on:
  push:
    tags:
      - v*
    branches:
      - master
      - main
  pull_request:

jobs:
  test-temporary:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - uses: actions/setup-go@v5
        with:
          go-version: 'stable'
      - name: Run coverage
        # run: make init-test && make test-unit
        run: make init-test && make test-all
      - name: Upload coverage artifacts
        uses: actions/upload-artifact@v4
        with:
          name: coverage-temporary
          path: |
            coverage-unit.out
            coverage-goc.out

  test-minimize:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:16-alpine
        env:
          POSTGRES_USER: librarian
          POSTGRES_PASSWORD: password
          POSTGRES_DB: librarian
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - uses: actions/setup-go@v5
        with:
          go-version: 'stable'
      - name: Run coverage
        run: make init-test && make test-all
        env:
          TEST_CONFIG_FILE: example-minimize.toml
      - name: Rename coverage files
        run: |
          mv coverage-unit.out coverage-unit-minimize.out
          mv coverage-goc.out coverage-goc-minimize.out
      - name: Upload coverage artifacts
        uses: actions/upload-artifact@v4
        with:
          name: coverage-minimize
          path: |
            coverage-unit-minimize.out
            coverage-goc-minimize.out

  upload-coverage:
    runs-on: ubuntu-latest
    needs: [test-temporary, test-minimize]
    steps:
      - uses: actions/checkout@v4
      - name: Download coverage artifacts
        uses: actions/download-artifact@v4
        with:
          merge-multiple: true
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
